aioredis==1.3.1
asgiref==3.2.3
async-timeout==3.0.1
attrs==19.3.0
autobahn==19.11.2
Automat==0.8.0
Babel==2.8.0
certifi==2019.11.28
cffi==1.13.2
channels==2.4.0
channels-redis==2.4.1
chardet==3.0.4
colorama==0.4.3
configparser==4.0.2
constantly==15.1.0
crayons==0.3.0
cryptography==2.8
daphne==2.4.1
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.7
django-allauth==0.41.0
django-autoslug-iplweb==1.9.4.dev0
django-birthday==0.1.3
django-cities-light==3.5.0
django-cors-headers==3.2.1
django-crispy-forms==1.8.1
django-extensions==2.2.9
django-filter==2.2.0
django-heroku==0.3.1
django-model-utils==4.0.0
django-phonenumber-field==4.0.0
django-regex-field==1.3.1
django-rest-auth==0.9.5
django-rest-framework==0.1.0
djangorestframework==3.11.0
hiredis==1.0.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
Markdown==3.2.1
msgpack==0.6.2
oauthlib==3.1.0
phonenumbers==8.12.0
Pillow==7.0.0
progressbar2==3.50.1
psycopg2==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
PyHamcrest==1.9.0
pyOpenSSL==19.1.0
python-utils==2.4.0
python3-openid==3.1.0
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.3.0
selenium==3.141.0
service-identity==18.1.0
six==1.13.0
sqlparse==0.3.0
swapper==1.1.2.post1
tqdm==4.43.0
Twisted==19.10.0
txaio==18.8.1
Unidecode==1.1.1
urllib3==1.25.7
webdriver-manager==2.3.0
whitenoise==5.1.0
zope.interface==4.7.1
